services:
- type: web
  name: todo-backend
  env: python
  region: oregon
  plan: free
  buildCommand: pip install -r requirements.txt
  startCommand: uvicorn main:app --host=0.0.0.0 --port=$PORT
  envVars:
  - key: DATABASE_URL
    sync: false
  - key: FRONTEND_URL
    sync: false
  - key: SECRET_KEY
    sync: false
  - key: ALGORITHM
    value: HS256
  - key: ACCESS_TOKEN_EXPIRE_MINUTES
    value: 30